.section {
    width: 100vw;
    padding: 0 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
.imageWrapper {
    border: 1px solid grey;
    border-radius: 15px;
    width: 540px;
}

.imageWrapper:hover {
    border: 3px solid indigo;
}

.imageWrapper:hover img {
    transform: scale(1.1);
}